@card-radius: 10px;

.marginLoop(@n, @i:1) when (@i < @n){
  .mt@{i}{
    margin-top: unit(@i,px) !important;
  }
  .ml@{i}{
    margin-left: unit(@i,px ) !important;
  }
  .mr@{i}{
    margin-right: unit(@i,px) !important;
  }
  .mb@{i}{
    margin-bottom: unit(@i,px) !important;
  }
  .pb@{i}{
    padding-bottom: unit(@i,px) !important;
  }
  .pt@{i}{
    padding-top: unit(@i,px) !important;
  }
  .pl@{i}{
    padding-left: unit(@i,px) !important;
  }
  .pr@{i}{
    padding-right: unit(@i,px) !important;
  }
  .marginLoop(@n, (@i + 1));
}
.marginLoop(50);

.fontLoop(@n, @i:1) when (@i < @n){
  .font@{i}{
    font-size: unit(@i,px) !important;
  }
  .fontLoop(@n, (@i + 1));
}
.fontLoop(32);

.font0{
  font-size: 0!important;
}

.lineHeight20{
  line-height: 20px !important;
}

.clearfix{
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


.ellipsis1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.c999{
  color: #999999;
}

.fb{
  font-weight: bold;
}

.tl{
  text-align: left;
}

.tr{
  text-align: right;
}

.body{
  min-height: 100%;
}

img{
  height: 100%;
  width: 100%;
}

html, body{
  font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB',sans-serif !important;
  color: #333333;
  overflow: unset;
  height: 100%;
}

a{
  color: unset;
}


.split:before{
  content: '|';
}

.spot:before{
  content: '·';
}

.margin0auto{
  display: block !important;
  margin: 0 auto;
}


.body{
  background: #F7F7F7;
}


/deep/.van-dialog__header{
  font-weight: bold !important;
}

.float-button{
  position: fixed;
  right: 10px;
  bottom: 60px;
}
